.modal_metamask_required {
  .modal_metamask_required__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
  }

  .modal_metamask_required__title {
  }

  .modal_metamask_required__content {
  }

  .modal_metamask_required__description {
    margin-bottom: 12px;
  }

  .modal_metamask_required__button {
    margin-bottom: 0;
  }
}
